# Here we should add all the ignore files e.g. target folder, .vscode, .idea and so on

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
**/target/**

# Vaadin

.classpath
.factorypath
.project
.settings
.exit
.sh
my-tools

frontend/generated/**

node_modules/
package-lock.json
package.json
src/main/dev-bundle/
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
frontend/index.html
.vscode/